<md-button class="md-fab md-fab-bottom-right" ng-click="createBuyingofferDialog()" ng-disabled="!authed" ng-cloak>
    <md-icon md-svg-icon="content:ic_add_24px">
    </md-icon>
    <md-tooltip md-direction="left">
        Add Buyingoffer
    </md-tooltip>
</md-button>