

<div layout="column" layout-padding>
    <div flex>
        <ul>
            <li><a href="/collectibles">Collectibles</a>

            </li>
            <li><a href="/electronics">Electronics</a>
                <ul>
                    <li>
                        <a href="/electronics/laptops">Laptops</a>
                    </li>
                    <li>
                        <a href="/electronics/cellphones">Cellphones</a>
                        <ul>
                            <li>
                                <a href="/accessories/cellphones/apple">Apple</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/entertainment">Entertainment</a>

            </li>
            <li><a href="/fashion">Fashion</a>

            </li>
            <li><a href="/homeandgarden">Home & Garden</a>

            </li>
            <li><a href="/motors">Motors</a>

            </li>
            <li><a href="/sporting">Sporting</a>

            </li>
            <li><a href="/toysandhobbies">Toys & Hobbies</a>

            </li>
            <li><a href="/other">Other</a>

            </li>
        </ul>
    </div>
    <div >
        <label><input type="text" ng-model="searchBox">
            <button ng-click="search" >
                Search
            </button>
            <button ng-click="search" >
                Advanced Search
            </button>
        </label>
        <md-card mv-buyingoffer-card class="mv-card" buyingoffer="buyingoffer" ng-repeat="buyingoffer in buyingoffers | filter: searchBox "></md-card>

    </div>
</div>

