<div class="md-toolbar-tools">
    <md-button aria-label="Home">
        Home
    </md-button>
    <md-button aria-label="Add Buyingoffer">
        Add Buyingoffer
    </md-button>
    <md-button aria-label="Browse">
        Browse
    </md-button>
    <md-button aria-label="My Offers">
        My Offers
    </md-button>
    <div ncy-breadcrumb class="ui-breadcrumbs md-title">
    </div>
    <span flex></span>

    <!-- not logged in -->
    <span class="md-body-2" hide-xs ng-if="!loggedIn">You are currently not logged in.</span>
    <md-menu md-position-mode="target-right target" ng-if="!loggedIn">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="showLoginDialog()">
                    Log in
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="showSignupDialog()">
                    Sign Up
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>


    <!-- logged in -->
    <span class="md-body-2" ng-if="loggedIn">Hello, {{user.username}}</span>
    <md-menu md-position-mode="target-right target" ng-if="loggedIn">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button ng-click="logout()">
                    Log out
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>



</div>