<div layout="row" layout-padding>
    <!-- hide picture if small screen -->
    <!--<div flex="30" hide-xs>
        <img class="mv-display-pic" ng-src="{{buyingoffer.posters.profile}}" />
    </div>-->


    <div flex>

        <div class="md-display-1 md-primary md-accent">{{buyingoffer.title}}</div>
        <p class="md-body-1">price: {{buyingoffer.price}} | condition: {{buyingoffer.condition}} </p>
        <p class="md-body-1">Offer valid until: 07/07/2016</p>
        <div mv-editable model="buyingoffer.description" on-save="updateBuyingoffer(changed)" on-abort="cancelEditingBuyingoffer()">
            <h2 class="md-title">
                Description
                <!--<md-icon ng-if="$parent.mayEdit" ng-hide="editing" md-svg-icon="editor:ic_mode_edit_24px" ng-click="startEditing()"></md-icon>-->
            </h2>
            <p class='md-body-1' ng-hide="editing">
                {{value}}
            </p>

            <div layout="row" layout-align="space-between center" ng-show="editing">
                <md-button ng-click="save()">
                    <md-icon md-svg-icon="content:ic_save_24px"></md-icon>
                    Save
                </md-button>
                <md-button ng-click="cancel()">
                    <md-icon md-svg-icon="navigation:ic_cancel_24px"></md-icon>
                    Cancel
                </md-button>

            </div>
            <md-input-container class="md-block" ng-show="editing">
                <label>Description</label>
                <textarea ng-model="value" md-maxlength="1500" rows="5" md-no-autogrow md-detect-hidden ></textarea>
            </md-input-container>



        </div>

        <!-- Button still needs implementation-->
        <md-button class=" md-raised" ng-click="deleteBuyingoffer($event)" ng-if="mayDelete">
            <!---->
            <!--<md-icon md-svg-icon="action:ic_delete_24px"></md-icon>-->
            <md-icon md-svg-icon="content:ic_send_24px">Send pics</md-icon>
            Send pictures/ Sell item
        </md-button>
    </div>


</div>


