<md-card-title>

    <md-card-title-text>
        <span class="md-headline">{{buyingoffer.title}}</span>
        <!--<span class="md-subhead"></span>-->
    </md-card-title-text>
    <!-- <md-card-title-media>
          <img class="mv-card-pic" ng-src="{{buyingoffer.posters.thumbnail}}" />

      </md-card-title-media>-->

</md-card-title>
<md-card-content>
    price: {{buyingoffer.price}} | condition: {{buyingoffer.condition}}
</md-card-content>
<md-card-actions layout="row" layout-align="end center">
    <md-button class="md-ink-ripple md-accent" ui-sref="buyingoffers.detail({buyingofferId: buyingoffer._id })">
        Details/Sell
    </md-button>
</md-card-actions>

<!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect" href="#/buyingoffers/{{buyingoffer._id}}">-->


